.header-child {
    align-self: stretch;
    position: relative;
    background-color: #fff;
    height: 3rem;
    z-index: 0;
  }
  .header-item,
  .header-wrapper {
    margin: 0 !important;
    position: absolute;
  }
  .header-item {
    top: 0.38rem;
    left: 0.69rem;
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    object-fit: cover;
    z-index: 1;
  }
  .header-wrapper {
    top: 0.31rem;
    left: 3.19rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.63rem;
    z-index: 2;
  }
  .menu {
    position: relative;
  }
  .header,
  .menu-wrapper {
    display: flex;
    align-items: center;
  }
  .menu-wrapper {
    margin: 0 !important;
    position: absolute;
    top: 0.31rem;
    right: 0;
    flex-direction: row;
    justify-content: center;
    padding: 0.63rem;
    cursor: pointer;
    z-index: 3;
  }
  .header {
    align-self: stretch;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    gap: 0.63rem;
    text-align: left;
    color: #e75600;
  }
  .strblogo-icon {
    position: relative;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
  }
  .value-24bo {
    align-self: stretch;
    position: relative;
  }
  .keyword24bo {
    /* width: 10.06rem; */
    box-sizing: border-box;
    font-size: 1.5rem;
    color: #e75600;
  }
  .keyword10bb,
  .keyword14bb,
  .keyword24bo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0.63rem;
  }
  .keyword14bb {
    font-size: 0.88rem;
  }
  .keyword10bb {
    text-align: left;
  }
  .gallery-overview,
  .smalltextbuttonorange {
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .smalltextbuttonorange {
    background-color: #e75600;
    justify-content: center;
    padding: 0.31rem 0.63rem;
    color: #fff;
  }
  .gallery-overview {
    align-self: stretch;
    background-color: #fff;
    justify-content: flex-start;
    padding: 1.56rem 0.63rem;
    gap: 0.63rem;
    font-size: 0.63rem;
  }
  .shopping-cart-icon {
    position: relative;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .keyword24bo1 {
    align-self: stretch;
    font-size: 1.5rem;
    color: #e75600;
  }
  .keyword14bb1,
  .keyword24bo1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0.63rem;
  }
  .bookings-overview-child {
    align-self: stretch;
    position: relative;
    border-radius: 20px;
    background-color: #000;
    height: 1.25rem;
  }
  .keyword14bo,
  .smalltextbuttonorange1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .keyword14bo {
    /* width: 7.81rem; */
    padding: 0 0.63rem;
    box-sizing: border-box;
    color: #e75600;
  }
  .smalltextbuttonorange1 {
    border-radius: 20px;
    background-color: #e75600;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0.31rem 0.63rem;
    font-size: 0.63rem;
    color: #fff;
  }
  .bookings-overview-item {
    align-self: stretch;
    position: relative;
    border-top: 1px solid gray;
    box-sizing: border-box;
    height: 0.06rem;
  }
  .keyword10bb1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0.63rem;
    text-align: left;
    font-size: 0.63rem;
    width: '100%';
    height:'100%'
  }
  .chart-area-child {
    align-self: stretch;
    position: relative;
    background-color: #fff;
    height: 18.75rem;
  }
  .chart-area {
    align-self: stretch;
    justify-content: flex-start;
  }
  .bookings-overview,
  .chart-area,
  .keyword24bb {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bookings-overview {
    align-self: stretch;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: flex-start;
    padding: 1.56rem 0.63rem;
    gap: 0.63rem;
  }
  .keyword24bb {
    justify-content: center;
    padding: 0 0.63rem;
    font-size: 1.5rem;
  }
  .arrow-circle-up-icon {
    position: relative;
    width: 1.56rem;
    height: 1.56rem;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .keyword-14bo1 {
    position: relative;
    white-space: pre-wrap;
  }
  .keyword14bo1 {
    font-size: 0.88rem;
    color: #e75600;
  }
  .keyword12bb,
  .keyword14bo1,
  .keyword24bo3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0.63rem;
  }
  .keyword24bo3 {
    /* width: 10.06rem; */
    box-sizing: border-box;
    color: #e75600;
  }
  .keyword12bb {
    text-align: left;
    font-size: 0.75rem;
  }
  .admin-dashboard-slot-person,
  .revenue-overview {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.63rem;
  }
  .revenue-overview {
    align-self: stretch;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1.56rem 0.63rem;
    font-size: 1.5rem;
  }
  .admin-dashboard-slot-person {
    position: relative;
    width: 100%;
    overflow-y: auto;
    text-align: center;
    font-size: 0.88rem;
    color: #000;
    font-family: Lexend;
  }
  