.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  /* .turkishIceCreamButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff9800;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   display: inline-block;
    transition: background-color 0.3s ease-in-out;
  }
  
  .turkishIceCreamButton:hover {
   
    background-color: #f57c00;
    transform:translateX(100%);
    transition: background-color 0.3s ease-in-out;
  } */
.Signupbar{
    width:calc(40vw - 20px);
    background-color:#E75600;
    color:#ffff;
    border-top-right-radius: 1rem/* 16px */;
    border-bottom-right-radius: 1rem/* 16px */;
    padding-top: 9rem/* 144px */;
    padding-bottom: 9rem/* 144px */ ;
   padding-left: 3rem/* 48px */;
    padding-right: 3rem/* 48*/;
    justify-content: center;
    align-items: center;
    align-self:center;
}
.button{
    background-color:#E75600; 
    color:#ffff;
    border-radius: 1rem;
   height: 5vh;
 justify-content: center;
    align-items: center;
    width: auto;
}
.logindiv{
    width:calc(60vw - 20px);
    padding: 1rem/* 16px */;
    background-color: #ffffff;
    border-top-left-radius: 1rem/* 16px */;
    border-bottom-left-radius: 1rem/* 16px */;
}
.logincardview{
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    border-radius: 1rem/* 16px */;
    display: flex;
    width:calc(66vw - 20px);
    max-width: calc(40vw - 20px); 
 
  
}
.customButton {
    /* Add your custom styles here */
    background-color: #fff4d4;
    color: #E75600;
    border-radius: 4rem;

    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;

   
  }
  .maincontainer{
   
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    padding-top: 0.5rem/* 8px */;
    padding-bottom: 0.5rem/* 8px */;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
width: 100vh;
height: 100vh;
  }
  .signupdiv{
    width:calc(60vw - 20px);
    padding: 1rem/* 16px */;
    background-color: #e75600;
    border-top-left-radius: 1rem/* 16px */;
    border-bottom-left-radius: 1rem/* 16px */;
}
.loginbar{
    width:calc(40vw - 20px);
    background-color:#ffff;
    color:#e75600;
    border-top-right-radius: 1rem/* 16px */;
    border-bottom-right-radius: 1rem/* 16px */;
    padding-top: 9rem/* 144px */;
    padding-bottom: 9rem/* 144px */ ;
   padding-left: 3rem/* 48px */;
    padding-right: 3rem/* 48*/;
    justify-content: center;
    align-items: center;
    align-self:center;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the container to cover the full viewport height */
}
.loader {
  justify-content: center;
  align-items: center;
  align-self:center;
  width: 150px;
  height: 150px;
  border-left: 5px solid #38ff8e;
  border-radius: 50%;
  animation: right5231 0.9s linear infinite;
  }
.loader::before,
    .loader::after {
    content: "";
    width: 120px;
    height: 120px;
    display: block;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    border-right: 5px solid #ffbe0b;
    border-radius: 50%;
    animation: left036 0.9s linear infinite;
    }

    .loader::after {
    width: 90px;
    height: 90px;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
    border: 0;
    border-top: 5px solid #ff086e;
    animation: none;
    }

    @keyframes right5231 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
    }

    @keyframes left036 {
    from {
        transform: rotate(720deg);
    }

    to {
        transform: rotate(0deg);
    }
    }



    .flipcard3Dwrapper {
        width: 60%;
        height: 80%;
        max-width: 300px;
        max-height: 500px;
        position: relative;
        -o-perspective: 900px;
        -webkit-perspective: 900px;
        -ms-perspective: 900px;
        perspective: 900px;
        margin: 0 auto;
     
     
      }
      .flipcard {
        width: 100%;
        height: 100%;
        text-align: center;
        margin: 50px auto;
        position: absolute;
        -o-transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
        -o-transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
        
      }
      .doflip {
        -o-transform: rotateY(-180deg);
        -webkit-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
      }
      .flipcardbtnturntoback, .flipcardbtnturntofront {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 40px;
        height: 40px;
        background: white;
        cursor: pointer;
        visibility: hidden;
        font-family:  sans-serif;
        font-weight: 600;
        font-size: .7em;
        padding: 0;
        color: grey;
        border: 1px solid grey;
      }
      .flipcard .flipcardfront, .flipcard .flipcardback{
        width: 100%;
        height: 100%;
        position: absolute;
        -o-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        z-index: 2;
        -webkit-box-shadow: 5px 6px 32px 2px rgba(133,133,133,0.71);
        -moz-box-shadow: 5px 6px 32px 2px rgba(133,133,133,0.71);
        box-shadow: 5px 6px 32px 2px rgba(133,133,133,0.71);
      }
      .flipcard .flipcardfront {
          background :lightgreen;
          border:1px solid grey;
      }
      .flipcard .flipcardback {
          background: lightblue;
          border: 1px solid grey;
          -o-transform: rotateY(180deg);
          -webkit-transform: rotateY(180deg);
          -ms-transform: rotateY(180deg);
          transform: rotateY(180deg);
      }
      .flipcard .flipcardfront p, .flipcard .flipcardback p {
        color: grey;
        display: block;
        position: absolute;
        top: 40%;
        width: 100%;
      }
  
/*  social icons */
.icons {
	display: flex;
	column-gap: 25px;
}
.icon {
	display: inline-flex;
	width: 60px;
	height: 60px;
	text-decoration: none;
	font-size: 26px;
	color: #000;
	border-radius: 50%;
	outline: 2px solid #e56700;
	transition-property: outline-offset, outline-color, background-color;
	transition-duration: 0.25s;
    justify-content: center;
    align-items: center;
 
    
}
.icon:hover {
	outline-offset: 4px;
}
.icon i {
	margin: auto;
}
.icon:hover i {
	animation: shake 0.25s;
}
/* .icon--instagram:hover {
	background-image: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	outline-color: #5a5a5a;
} */
.icon--google:hover {
    background-image: radial-gradient(
      circle at 30% 107%,
      #ff6f00 0%,
      #ff6f00 5%,
      #f9a825 45%,
      #fb8c00 60%,
      #f57c00 90%
    );
    outline-color:#5a5a5a;
  }
  
  .icon--microsoft:hover {
    background-image: radial-gradient(
      circle at 30% 107%,
      #f35325 0%,
      #f35325 5%,
      #ffba08 45%,
      #0078d7 60%,
      #0078d7 90%
    );
    outline-color: #5a5a5a;
  }

  .icon--facebook:hover {
    background-image: radial-gradient(
      circle at 30% 107%,
      #1e88e5 0%,
      #1e88e5 5%,
      #1976d2 45%,
      #1565c0 60%,
      #0d47a1 90%
    );
    outline-color: #4caf50;
  }


  .icon--apple:hover {
    background-image: radial-gradient(
      circle at 30% 107%,
      #b6b6b6 0%,
      #b6b6b6 5%,
      #b6b6b6 45%,
      #000000 60%,
      #000000 90%
    );
    outline-color: #5a5a5a;
  }
@keyframes shake {
	10% {
		transform: rotate(15deg);
	}
	20% {
		transform: rotate(-15deg);
	}
	30% {
		transform: rotate(15deg);
	}
	40% {
		transform: rotate(-15deg);
	}
}

/* end of social icons */

.horizontal-helper {
    writing-mode: horizontal-tb; /* This style makes the text horizontal */
    display: inline-block; /* Ensure it's displayed inline */
    margin-top: 0.5rem; /* Adjust the margin as needed */
  }